/* PODELI STYLE */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.wiget-block-wrapper {
    max-width: 360px;
    width: 100%;
    background-color: transparent;
}

.wiget-block-wrapper * {
    font-family: Inter, sans-serif;
}

.rb-modal-wrapper * {
    font-family: Inter, sans-serif;
}

.wiget-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 22px 12px;
    border-bottom: 1px solid #504d4d;
    margin-bottom: 20px;
}

.wiget-block:first-child {
    border-top: 1px solid #504d4d;
}

.wiget-block__content {
    display: flex;
    align-items: center;
}

.wiget-block__logotypes {
    display: flex;
}

.wiget-block__checkout_logotypes {
    display: flex;
    margin-left: auto;
}

.wiget-block__logotype {
    border-radius: 50%;
}

.wiget-block__logotype:not(:first-child) {
    outline: 2px solid bisque;
}

.wiget-block__logotype:nth-child(2) {
    transform: translateX(-5px);
    position: relative;
    z-index: 2;
}

.wiget-block__title-subtitle {
    margin-left: 12px;
}

.wiget-block__logotype,
.wiget-block__prompt-close {
    width: 32px;
    height: 32px;
}

.wiget-block__info {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.wiget-block__info svg,
.wiget-block__logotype svg,
.wiget-block__prompt-close svg {
    width: 100%;
    height: 100%;
}

.wiget-block__title {
    margin: 0 !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 20px !important;
    letter-spacing: -0.1px !important;
    color: #1D2939 !important;
}

.wiget-block__subtitle {
    margin: 0;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #263238;
}

.wiget-block__prompt-wrapper {
    position: absolute;
    max-width: 368px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    border: 1px solid #000000;
    border-radius: 14px;
    box-sizing: border-box;
}

.wiget-block__info:hover + .wiget-block__prompt-wrapper {
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
}

.wiget-block__prompt {
    position: relative;

    padding: 16px;
    border-radius: 15px;
    background-color: #FCFCFD;
    box-shadow: 0px 8px 16px -4px rgba(9, 30, 71, 0.08),
    0px 4px 6px -2px rgba(9, 30, 71, 0.03);
}

.wiget-block__prompt-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: transparent;
}

.wiget-block__prompt-text {
    color: #263238;
    font-size: 16px;
    line-height: 22px;
}

.wiget-block-split {
    margin-top: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    font-size: 15px;
}

.wiget-block-split__item {
    position: relative;

}

.wiget-block-split__item::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #F7592F;
}

.wiget-block-split__item {
    font-weight: 500;
    color: #263238;
}

.wiget-block-split__item_disable {
    color: rgba(16, 24, 40, 30%);
}

.wiget-block-split__item_disable::before {
    background-color: rgba(16, 24, 40, 10%);
}

.split-item-day, .split-item-payment {
    line-height: initial;
    margin: initial;
}

.split-item-ли {
    line-height: initial;
    margin: initial;
}

/* ENDPODELI STYLE */

/* PODELI STYLE v.2 */

.wiget-block-v2 {
    padding: 12px 16px;
    border-radius: 14px;
    display: grid;
    row-gap: 16px;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
}

.wiget-head-v2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.wiget-head-v2__text {
    display: flex;
    align-items: center;
    color: #000000;
}

.wiget-head-v2__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    max-width: 132px;
    width: 100%;
    padding: 2px 10px;
}

.text__payment {
    padding: 0 9px;
    margin-right: 8px;
    border-radius: 12px;
    border: 1px solid #000000;
}

/* POP-UP style */

.rb-modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.podeli-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.rb-show-modal {
    display: flex;
}

.rb-modal {
    position: relative;
    display: grid;
    row-gap: 20px;
    max-width: 560px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 34px 24px 28px 24px;
}

.rb-modal__close {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.rb-modal-logotypes {
    display: flex;
    align-items: center;
}

.robokassa-logo {
    max-width: 128px;
    width: 100%;
    max-height: 30px;
    height: 100%;
}

.podeli-logo {
    line-height: 0;
    max-width: 72px;
    width: 100%;
    max-height: 12px;
    height: 100%;
}

.credit-logo {
    line-height: 0;
    max-width: 72px;
    width: 100%;
    max-height: 12px;
    height: 100%;
}

.separate-logo {
    --grey300new: #DBE5F0;
    margin: 0 16px;
    width: 1px;
    height: 40px;
    background-color: var(--grey300new);
}

.rb-modal-content {
    display: grid;
    row-gap: 12px;
}

.rb-modal-content__title {
    font-family: Inter, sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.rb-modal-content__text {
    font-size: 12px;
    line-height: 18px;
    color: #263238;
}

.rb-modal-content__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 9px;
}

.rb-modal-content__info-item {
    display: flex;
    align-items: center;
}

.rb-modal-payments {

}

.rb-modal-payments__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #101828;
    margin-bottom: 12px;
}

.rb-modal-payments__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.payments-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    padding: 6px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #35647E;
    border-radius: 20px;
    background-color: rgba(86, 86, 86, 0.06);
    transition: all 0.2 ease-in-out;
    cursor: pointer;
}

.payments-item:last-child {
    margin-left: 12px;
}

.payments-item.active,
.payments-item:hover {
    color: white;
    background-color: #101828;
}

.change-credit {

}

.change-credit__list {
    display: flex;
    align-items: center;
}

.change-credit__button {
    min-width: 120px;
    width: max-content;
    padding: 6px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #35647E;
    border-radius: 20px;
    background-color: rgba(86, 86, 86, 0.06);
    transition: all 0.2 ease-in-out;
    border: none;
    cursor: pointer;
}

.change-credit__button.active,
.change-credit__button:hover {
    color: white;
    background-color: #101828;
}

.info-item-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.info-item-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: black;
}

.rb-modal-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40px;
    border-radius: 22px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    background-color: #000000;
    color: #ffffff;
    transition: all 0.2s;
}

.rb-modal-link:hover {
    background-color: #222d41;
}

.rb-modal-link:focus {
    outline: none;
    background-color: #222d41;
}

.wiget-block-v3 {
    display: grid;
    row-gap: 16px;
    margin-bottom: 10px;
}

.wiget-action-button {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    padding: 6px 18px 6px 8px;
    background-color: #000;
    color: #D4D6DC;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.wiget-action-button:focus {
    box-shadow: 0 0 0 1px #FF5722 inset;
    outline: none;
}

.wiget-action-button:hover,
.wiget-action-button:active {
    box-shadow: 0 0 0 1px #000 inset;
    background-color: #fff;
    color: #263238;
}

.wiget-action-button:disabled {
    box-shadow: 0 0 0 1px #BFBFBF inset;
    background-color: #fff;
    color: #263238;
    opacity: 0.3;
}

.wiget-action-button__icons {
    display: flex;
}

.wiget-action-button__icons svg {
    width: 24px;
    height: 24px;
}

.wiget-action-button__icons_v2 {
    margin-right: -5px;
}

.wiget-action-button__icons svg:nth-child(2) {
    transform: translateX(-5px);
}

.wiget-action-button__text {
    margin-left: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}

.podeli-action-button {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    padding: 6px 18px 6px 8px;
    background-color: #000;
    color: #D4D6DC;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.podeli-action-button:focus {
    box-shadow: 0 0 0 1px #FF5722 inset;
    outline: none;
}

.podeli-action-button:hover,
.podeli-action-button:active {
    box-shadow: 0 0 0 1px #000 inset;
    background-color: #fff;
    color: #263238;
}

.podeli-action-button:disabled {
    box-shadow: 0 0 0 1px #BFBFBF inset;
    background-color: #fff;
    color: #263238;
    opacity: 0.3;
}

.podeli-action-button__icons {
    display: flex;
}

.podeli-action-button__icons svg {
    width: 24px;
    height: 24px;
}

.podeli-action-button__icons_v2 {
    margin-right: -5px;
}

.podeli-action-button__icons svg:nth-child(2) {
    transform: translateX(-5px);
}

.podeli-action-button__text {
    margin-left: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}


/* END POP-UP style */

/* END PODELI STYLE v.2 */